/* 1150 */

/* 1025 */
@media (max-width: 1025px) {
  .hero {
    padding: 200px 0;
  }

  .hero .container .title {
    font-size: 60px;
    width: 400px;
    line-height: 70px;
  }

  .hero .container .text {
    font-size: 20px;
    width: 400px;
  }

  .hero .container .btn.blue {
    padding: 20px 40px;
  }
}

/* 900 */

/* 770 */
@media(max-width: 770px) {
  .header {
    padding: 30px 0;
  }

  .header .container .menu {
    display: none;
  }

  .header .container .burger {
    display: block;
  }
}

/* 650 */
@media(max-width: 650px) {
  .header {
    padding: 20px 0;
  }

  .hero {
    padding: 120px 0;
  }

  .hero .container .title {
    font-size: 50px;
    max-width: 330px;
    line-height: 60px;
  }

  .hero .container .text {
    font-size: 18px;
    max-width: 330px;
  }

  .hero .container .btn.blue {
    padding: 15px 30px;
    font-size: 16px;
  }
}

/* 525 */

/* 430 */
@media(max-width: 430px) {
  .hero {
    background:
      linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)),
      url(../images/hero-bg.png) no-repeat center / cover;
  }


  .hero .container .text {
    color: var(--white);
  }
}

/* 370 */
@media(max-width: 370px) {

  .hero .container .title {
    font-size: 40px;
    max-width: 260px;
    line-height: 50px;
  }

  .hero .container .text {
    max-width: 300px;
  }
}

/* 340 */